examples/ConfigNodeExample.json
[{"id":"25e44718.693758","type":"tab","label":"Test config node","disabled":false,"info":""},{"id":"bd1b9414.8b32b8","type":"config","z":"25e44718.693758","name":"Install Linux","properties":[{"p":"PC_Stability","pt":"global","to":"Well done! Stable system.","tot":"str"}],"active":true,"x":420,"y":120,"wires":[]},{"id":"d8e9f39e.653ea","type":"inject","z":"25e44718.693758","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":180,"wires":[["9e818396.ce9d2"]]},{"id":"2a388509.ad5742","type":"inject","z":"25e44718.693758","name":"","topic":"","payload":"","payloadType":"str","repeat":"0.1","crontab":"","once":true,"onceDelay":0.1,"x":220,"y":240,"wires":[["57ac7186.93afd8"]]},{"id":"f036c088.c54bd8","type":"debug","z":"25e44718.693758","name":"PC_Stability","active":true,"tosidebar":false,"console":false,"tostatus":true,"complete":"payload","targetType":"msg","x":670,"y":240,"wires":[]},{"id":"57ac7186.93afd8","type":"change","z":"25e44718.693758","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"PC_Stability","tot":"global"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":240,"wires":[["f036c088.c54bd8"]]},{"id":"9730e6c0.d46aa","type":"inject","z":"25e44718.693758","name":"","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":210,"y":120,"wires":[["bd1b9414.8b32b8"]]},{"id":"9e818396.ce9d2","type":"config","z":"25e44718.693758","name":"Install Win","properties":[{"p":"PC_Stability","pt":"global","to":"Unstable system. May crash.","tot":"str"}],"active":false,"x":410,"y":180,"wires":[]}]
